<nav class="fixed top-0 z-50 w-full bg-blue-900 shadow-xl">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        @if (showLogoutButton()) {
        <button
          (click)="toggleSideBar()"
          class="flex sm:hidden items-center cursor-pointer"
        >
          <i class="fa-solid fa-bars block text-white text-xl"></i>
        </button>
        }
        <a routerLink="/" class="flex ms-2 md:me-24">
          <img
            src="https://cdn-icons-png.flaticon.com/512/3135/3135755.png"
            class="h-8 me-3"
            alt="FlowBite Logo"
          />
          <span
            class="self-center text-white text-xl font-bold whitespace-nowrap"
            >Academia_Hub</span
          >
        </a>
      </div>
      @if (showLogoutButton()) {
      <div class="flex items-center">
        <div
          (click)="logout()"
          class="flex text-white text-xl cursor-pointer duration-300 hover:font-bold hover:text-red-600 items-center ms-3"
        >
          <button class="cursor-pointer">Logout</button>
        </div>
      </div>
      }
    </div>
  </div>
</nav>
